{% extends 'index.html' %}

{% block card %}
    <div class="card {{ weather.day_state }}">
        <div class="delete-wrapper">
            <form action="#" method="POST">
                <input type="hidden" name="id" value="">
                <button class="delete-button" type="submit">&#10006;</button>
            </form>
        </div>
        <div class="degrees"><span>{{ weather.degrees }}<span class="celsius"> °C</span></span></div>
        <div class="state">{{ weather.state }}</div>
        <div class="empty"></div>
        <div class="city">{{ weather.city }}</div>
    </div>
{% endblock %}
